p {
    color: blue;
    background-color :yellow ;
}
h1,h2,h3,h4,h5,h6{
  font-size: 40px;  
}
div,section{
  background-color: yellow;
}
div ol,ul{
  margin: 20px;
}
div .shadow {
  font-size: 20px;
  text-shadow: 2px 2px green;
}
div span{
  color: green;
}
div ul>li{
  color: aqua;
} 
h2+p{
  font-weight: bold;
}
h1~p{
  background-color:grey ;
}
form input{
  border-color: blue;
}
form button:hover{
  background-color: green;
}
table{
  border-collapse: collapse;
}

th,td{
  border: 2px solid black;
}
thead tr{
  background-color: aqua;
}
tbody #aa {
  background-color: blueviolet;
}
tbody  #AA{
  background-color: blanchedalmond;
}
a[target=blank]{
  background-color: darkgoldenrod;
}